<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.dbspringsecurity.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.lin.dbspringsecurity.pojo.SysMenu">
            <id property="menuId" column="menu_id" />
            <result property="menuName" column="menu_name" />
            <result property="perms" column="perms" />
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_name,perms
    </sql>
</mapper>
